# defaults file for nexus3-config-as-code
nexus_protocol: http
nexus_hostname: 172.17.0.3
nexus_port: 8081
nexus_admin_username: admin
nexus_admin_password: changeme
nexus_enable_pro: true

nexus_blobstores:
  - name: default
    type: File
    path: default
    softQuota:
      type: spaceRemainingQuota
      limit: 104857600 #100Mb
  - name: file-quota-100-remaining
    type: File
    path: default-quota-100-remaining
    softQuota:
      type: spaceRemainingQuota
      limit: 104857600 #100Mb
  - name: file-quota-100-used
    type: File
    path: default-quota-100-used
    softQuota:
      type: spaceUsedQuota
      limit: 104857600 #100Mb

  - name: s3-minio
    type: S3
    softQuota:
      type: spaceUsedQuota
      limit: 104857600 #100Mb
    bucketConfiguration:
      bucket:
        region: us-east-1
        name: nexus-storage
        expiration: 3
        prefix:
      failoverBuckets: []
      bucketSecurity:
        accessKeyId: nexus-access-key
        secretAccessKey: nexus-secret-key
      advancedBucketConnection:
        endpoint: "http://172.17.0.4:9000"
        forcePathStyle: true

nexus_roles:
  - id: "nx-admin"
    name: "nx-admin"
    description: "Administrator Role"
    privileges:
      - "nx-all"
    roles: []
  - id: "nx-anonymous"
    name: "nx-anonymous"
    description: "Anonymous Role"
    privileges:
      - "nx-healthcheck-read"
      - "nx-search-read"
      - "nx-repository-view-*-*-read"
      - "nx-repository-view-*-*-browse"
    roles: []
  - id: "nx-developer"
    name: "nx-developer"
    description: "Developer Role"
    privileges:
      - "nx-repository-view-*-*-read"
      - "nx-repository-view-*-*-browse"
      - "nx-repository-view-*-*-edit"
      - "nx-repository-view-*-*-add"
      - "nx-repository-view-*-*-delete"
  - id: "nx-security-admin"
    name: "nx-security-admin"
    description: "Security Administrator Role"
    privileges:
      - "nx-all"
    roles:
      - "nx-admin"

nexus_anonymous_access:
  enabled: true
  userId: anonymouse
  realmName: NexusAuthorizingRealm

nexus_content_selectors:
  - name: raw-selector
    type: csel
    description: raw-selectorrr
    expression: format == "raw"
  - name: maven-org-selector
    type: csel
    description: maven-org-selectorrr
    expression: format == "maven2" and path =^ "/org"
  - name: maven-com-selector
    type: csel
    description: maven-com-selector
    expression: format == "maven2" and path =^ "/com"

nexus_user_tokens_capability:
  enabled: true
  protectContent: true
  expirationEnabled: true
  expirationDays: 180

nexus_default_user_password: changeme
nexus_users:
  - userId: anonymous
    firstName: Anonymous
    lastName: User
    emailAddress: anonymous@example.org
    source: default
    status: active
    readOnly: false
    roles:
      - nx-anonymous
    externalRoles: []
  - userId: admin
    firstName: Administrator
    lastName: User
    emailAddress: admin@example.org
    source: default
    status: active
    readOnly: false
    roles:
      - nx-admin
    externalRoles: []
  - userId: disabled-user
    firstName: Disabled
    lastName: User
    emailAddress: info@users.org
    source: default
    status: disabled
    readOnly: false
    roles:
      - nx-anonymous
    externalRoles: []
  - userId: secondary-admin
    firstName: Secondary
    lastName: AdminUser
    emailAddress: test@test.com
    source: default
    status: active
    readOnly: false
    roles:
      - nx-anonymous
      - nx-admin
    externalRoles: []
  - userId: read-only-user
    firstName: Read
    lastName: OnlyUser
    emailAddress: readonly@users.org
    source: default
    status: active
    readOnly: true
    roles:
      - nx-anonymous
    externalRoles: []

nexus_repos_cleanup_policies:
  - name: maven_cleanup
    format: maven2
    notes: "maven"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: maven_releases_cleanup
    format: maven2
    notes: "maven RELEASES"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaReleaseType: RELEASES
    criteriaAssetRegex: "your-regex*"
  - name: maven_prereleases_cleanup
    format: maven2
    notes: "maven PRERELEASES"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaReleaseType: PRERELEASES
    criteriaAssetRegex: "your-regex*"
  - name: python_cleanup
    format: pypi
    notes: "Python pip"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: docker_cleanup
    format: docker
    notes: "Docker"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: raw_cleanup
    format: raw
    notes: "Raw"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: rubygems_cleanup
    format: rubygems
    notes: "Rubygems"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: npm_cleanup
    format: npm
    notes: ""
    criteriaAssetRegex: "your-regex*"
  - name: npm_releases_cleanup
    format: npm
    notes: "npm RELEASES"
    criteriaAssetRegex: "your-regex*"
    criteriaReleaseType: RELEASES
  - name: npm_prereleases_cleanup
    format: npm
    notes: "npm PRERELEASES"
    criteriaAssetRegex: "your-regex*"
    criteriaReleaseType: PRERELEASES
  - name: nuget_cleanup
    format: nuget
    notes: "NuGet"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: gitlfs_cleanup
    format: gitlfs
    notes: "gitlfs"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
  - name: yum_prerelease_cleanup
    format: yum
    notes: "yum PRERELEASES"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
    criteriaReleaseType: PRERELEASES
  - name: yum_releases_cleanup
    format: yum
    notes: "yum RELEASES"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
    criteriaReleaseType: PRERELEASES
  - name: yum_cleanup
    format: yum
    notes: "yum"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: apt_cleanup
    format: apt
    notes: "apt"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: helm_cleanup
    format: helm
    notes: "Helm"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: r_cleanup
    format: r
    notes: "r"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: conda_cleanup
    format: conda
    notes: "conda"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: go_cleanup
    format: go
    notes: "go"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: cocoapods_cleanup
    format: cocoapods
    notes: "cocoapods"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: conan_cleanup
    format: conan
    notes: "conan"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"
  - name: p2_cleanup
    format: p2
    notes: "p2-notes"
    criteriaLastBlobUpdated: 60
    criteriaLastDownloaded: 120
    criteriaAssetRegex: "your-regex*"

nexus_repos_docker_hosted:
  - name: docker-hosted-1
    online: true
    storage:
      blobStoreName: default
      strictContentTypeValidation: true
      writePolicy: allow_once
      latestPolicy: true
    cleanup:
      policyNames: []
    docker:
      v1Enabled: false
      forceBasicAuth: false
      httpPort: 10000
      httpsPort: 10001

  - name: docker-hosted-offline
    online: false
    storage:
      blobStoreName: default
      strictContentTypeValidation: true
      writePolicy: allow_once
      latestPolicy: true
    cleanup:
      policyNames:
        - docker_cleanup
    component:
      proprietaryComponents: true
    docker:
      v1Enabled: true
      forceBasicAuth: true
      httpPort: 10002
      httpsPort: 10003
      subdomain: docker-hosted-offline

nexus_repos_docker_proxy:
  - name: docker-proxy-1
    proxy:
      remoteUrl: https://remote.repository.com
      contentMaxAge: 1440
      metadataMaxAge: 1440
    negativeCache:
      enabled: true
      timeToLive: 1440
    httpClient:
      blocked: false
      autoBlock: true
      connection:
        useTrustStore: true
  - name: docker-proxy-2
    proxy:
      remoteUrl: https://remote.repository.com
      contentMaxAge: 1440
      metadataMaxAge: 1440
    routingRule: routing-rule-allow-all
  - name: docker-proxy-3
    proxy:
      remoteUrl: https://remote.repository.com
      contentMaxAge: 1440
      metadataMaxAge: 1440
    negativeCache:
      enabled: true
      timeToLive: 1440

nexus_repos_docker_group:
  - name: docker-group
    online: true
    storage:
      blobStoreName: default
      strictContentTypeValidation: true
    group:
      memberNames:
        - docker-hosted-1
        - docker-proxy-1
        - docker-proxy-2
        - docker-proxy-3
      writableMember: docker-hosted-1
    docker:
      v1Enabled: false
      forceBasicAuth: false
      httpPort: 10300
      httpsPort: 10301
  - name: docker-group-reverse-group-order
    online: false
    storage:
      blobStoreName: default
      strictContentTypeValidation: false
    group:
      memberNames:
        - docker-proxy-3
        - docker-proxy-2
        - docker-proxy-1
        - docker-hosted-1
      writableMember: docker-hosted-1
    docker:
      v1Enabled: false
      forceBasicAuth: false
      httpPort: 10400
      httpsPort: 10401

nexus_repos_maven_hosted:
  - name: repo-1
    online: true
    storage:
      strictContentTypeValidation: true
      writePolicy: ALLOW_ONCE # Disable redeploy
    cleanup:
      policyNames:
        - maven_cleanup
    component:
      proprietaryComponents: true
    maven:
      versionPolicy: RELEASE
      layoutPolicy: STRICT
      contentDisposition: INLINE
  - name: repo-2
    online: true
    storage:
      strictContentTypeValidation: false
      writePolicy: ALLOW # Allow redeploy
    cleanup:
      policyNames: []
    component:
      proprietaryComponents: false
    maven:
      versionPolicy: SNAPSHOT
      layoutPolicy: PERMISSIVE
      contentDisposition: ATTACHMENT
  - name: repo-3-offline
    online: false
    storage:
      strictContentTypeValidation: false
      writePolicy: DENY # Read only
    cleanup:
      policyNames: []
    component:
      proprietaryComponents: false
    maven:
      versionPolicy:
      layoutPolicy: PERMISSIVE
      contentDisposition: ATTACHMENT
  - name: maven-snapshots
    online: true
    storage:
      strictContentTypeValidation: true
      writePolicy: ALLOW_ONCE
    cleanup:
      policyNames:
        - maven_cleanup
    component:
      proprietaryComponents: true
    maven:
      contentDisposition: INLINE
      layoutPolicy: STRICT
      versionPolicy: SNAPSHOT
  - name: maven-releases
    online: true
    storage:
      strictContentTypeValidation: true
    cleanup:
      policyNames:
        - maven_cleanup
    component:
      proprietaryComponents: true
    maven:
      contentDisposition: INLINE
      layoutPolicy: STRICT
      versionPolicy: RELEASE
  - name: repo-cleanup-order-1
    cleanup:
      policyNames:
        - maven_cleanup
        - maven_releases_cleanup
        - maven_prereleases_cleanup
  - name: repo-cleanup-order-2
    cleanup:
      policyNames:
        - maven_releases_cleanup
        - maven_cleanup
        - maven_prereleases_cleanup
  - name: repo-cleanup-order-3
    cleanup:
      policyNames:
        - maven_prereleases_cleanup
        - maven_releases_cleanup
        - maven_cleanup

nexus_repos_maven_proxy:
  - name: maven-central
    proxy:
      remoteUrl: https://repo1.maven.org/maven2/
      contentMaxAge: -1
      metadataMaxAge: 1440
    negativeCache:
      enabled: true
      timeToLive: 1440
    httpClient:
      blocked: false
      autoBlock: true
      connection:
        useTrustStore: true
  - name: maven-proxy-2
    proxy:
      remoteUrl: https://repo1.maven.org/maven2/
      contentMaxAge: -1
      metadataMaxAge: 1440
    routingRule: routing-rule-allow-all
  - name: maven-proxy-3
    proxy:
      remoteUrl: https://repo1.maven.org/maven2/
      contentMaxAge: -1
      metadataMaxAge: 1440
    negativeCache:
      enabled: true
      timeToLive: 1440
    httpClient:
      blocked: false
      autoBlock: true

nexus_repos_maven_group:
  - name: maven-group
    online: true
    storage:
      blobStoreName: default
      strictContentTypeValidation: true
    group:
      memberNames:
        - maven-central
        - maven-proxy-2
        - maven-proxy-3
  - name: maven-group-reverse-group-order
    online: false
    storage:
      blobStoreName: default
      strictContentTypeValidation: false
    group:
      memberNames:
        - maven-proxy-3
        - maven-proxy-2
        - maven-central

nexus_routing_rules:
  - name: routing-rule-block-nmap
    description: routing-rule-1
    mode: BLOCK
    matchers:
      - ".*nmap"
  - name: routing-rule-allow-patch-update
    description: rrouting-rule-2
    mode: ALLOW
    matchers:
      - ".*patch"
      - ".*update"
  - name: routing-rule-allow-all
    description: routing-rule-3
    mode: ALLOW
    matchers:
      - ".*"
  - name: routing-rule-block-all
    description: routing-rule-4
    mode: BLOCK
    matchers:
      - ".*"
